.no-decoration {
    text-decoration: none !important;
}

.pop {
    transform: scale(1.5);
}

.anchor {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    text-transform: uppercase;
    color: $black;
    font-weight: 600;
    text-decoration: underline;
    &:hover {
        color: $black;
    }
}

.body-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    &:after {
        z-index: 1;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
        display: none;
    }
    @media only screen and (max-width: 991px) {
        .body-wrap {
            margin-right: 0 !important;
        }
    }
}

.body-wrap.toggled {
    &:after {
        display: block;
    }
}



.mb-100 {
    margin-bottom: 100px;
    @media only screen and (max-width: 991px) {
        margin-bottom: 50px;
    }
}