body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

main {
    min-height: 80vh;
}

h2,
.h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
}

p, .p {
    font-size: 18px;	
    line-height: 32px;
}