// ===== SLICK SLIDER ======
.slick-next {
    right: 15px;
    z-index: 1;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-prev {
    left: 15px;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slick-slide>div>div {
    display: block !important;
}

.slick-slide img {
    width: 100%;
}

// ====== BOOTSTRAP ======
.btn-lg {
    padding: 20px 50px;
}

.btn-secondary {
    border: 2px solid $black;
    color: $black;
    background-color: #ffffff;
    border-radius: 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-secondary:hover {
    color: $black;
    background-color: #ffffff;
    border-color: $black;
}

.btn-primary {
    background-color: $black;
    border: 2px solid $black;
    border-radius: 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #000;
    border-color: #000;
}

.table td,
.table th {
    vertical-align: middle;
}

.table thead th {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.hero img {
    margin-top: -1.5rem;
}

.display-4 {
    font-weight: bold;
    text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    line-height: 88px;
    font-size: 72px;
    @media only screen and (max-width: 991px) {
        font-size: 48px;
        line-height: 58px;
    }
}

.lead {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 15px;
    color: $grey;
}