.quantity-btn {
    background-color: #f4f4f4;
    border-color: #000;
    border: none;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    color: #000;
    transition: 0.3s;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.total {
    position: absolute;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #dee2e6;
    .btn {
        width: 100%;
    }
}

.cart-slider {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: #f5f6f5;
    box-shadow: 0 0 10px #afafaf;
    z-index: 99;
    margin-right: -100%;
    transition: 0.3s;
    @media only screen and (max-width: 991px) {
        height: 100%;
        width: 100%;
    }
}

.close-cart-slider {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: 28px;
    height: 30px;
    width: 30px;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    text-align: center;
    line-height: 0.93;
    transition: 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}