.navbar-nav .nav-link.active {
    font-weight: bold;
}

#cartBubble {
    transition: 0.2s;
}

.navbar-toggler {
    width: 30px;
    height: 24px;
    position: relative;
    border: none;
    span {
        height: 2px;
        width: 100%;
        display: block;
        background-color: #000;
        position: absolute;
        transition: 0.3s;
    }
    span:nth-child(1) {
        top: 0;
    }
    span:nth-child(3) {
        bottom: 0;
    }
}

.toggled.navbar-toggler {
    span:nth-child(1) {
        transform: rotate(45deg);
        top: unset;
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:nth-child(3) {
        transform: rotate(-45deg);
        bottom: unset;
    }
}

.flag {
    position: relative;
    span {
        position: relative;
        cursor: pointer;
        img {
            position: absolute;
            top: 50%;
            transform: translateY(25%);
            width: 24px;
        }
    }
    .country-select {
        display: flex;
        position: absolute;
        top: 100%;
        left: -176px;
        width: 250px;
        justify-content: space-around;
        background-color: #f9fafb;
        padding: 15px;
        box-shadow: 4px 9px 20px -10px black;
        li {
            a {
                img {
                    width: 24px;
                }
            }
        }
    }
}

.mobile-flag {
    position: absolute;
    top: 8px;
    right: 75px;
    .country-select {
        top: 43px;
        left: -200px;
    }
}